<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    <h1>Bienvenidos al curso de Python - Comisión 50215</h1>
    <h2>Esta es la segunda clase de Django - Portfolio</h2>
    <h3>Bienvenido {{nombre}} {{apellido}}</h3>
    <h3>Hoy es: {{hoy}}</h3>

    {% for n in notas %}

        
        {% if n > 6 %}
            <p style="color:green">Es una nota BUENA: {{n}}</p>
        {% else %}
            <p style="color:red">Es una nota MALA: {{n}}</p>
        {% endif %}
            
       
    {% endfor %}
</body>
</html>